<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="container">
            <h1 class="logo">GRIT</h1>
            <img src="../static/RedKnightLogoWide.png" alt="Red Knight Logo" class="top-center-graphic">
            <ul class="nav-links">
                <li><a href="https://grit.claws.net">Home</a></li>
            </ul>
        </div>
    </nav>
    <h1>Discovered Devices</h1>
    <form method="post">
        <label for="subnet">Subnet to Scan:</label>
        <input type="text" id="subnet" name="subnet" value="{{ subnet }}">
        <button type="submit">Scan</button>
    </form>
    <div id="loading">
        <div class="spinner"></div>
    </div>
    {% if hosts %}
    <table border="1">
        <tr>
            <th>IP</th>
            <th>Hostname</th>
            <th>MAC Address</th>
            <th>Open Ports</th>
        </tr>
        {% for host in hosts %}
        <tr>
            <td>{{ host.ip }}</td>
            <td>{{ host.hostname }}</td>
            <td>{{ host.mac }}</td>
            <td>{{ host.open_ports | join(', ') }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <script src="../static/script.js"></script>
</body>
</html>